<div *ngIf="msg" class="msg">{{msg}}</div>

<form *ngIf="membersArray" (ngSubmit)="onSubmit()" #memberForm="ngForm">
    <h3 >{{ memberObj.name }}</h3>
    <div class="form-group" id="formdiv">
        <label for="memberId">Id</label>
        <input type="number" class="form-control" required
               [(ngModel)]="memberObj.memberId"
               name="memberId" id="memberId" #memberId="ngModel" >
        <div [hidden]="memberId.valid" class="alert alert-danger">
            Id is required
        </div>
        <br/>
        <label for="name">Name</label>
        <input type="text" class="form-control" required
               [(ngModel)]="memberObj.name"
               name="memberName" id="name" #memberName="ngModel" >
        <div [hidden]="memberName.valid" class="alert alert-danger">
            Name is required
        </div>
        <br/>
        <label for="dob">DOB</label>
        <input type="text" class="form-control" required
               [ngModel]="memberObj.dob | date:fullDate"
               (ngModelChange)="memberObj.dob"
               name="memberdob" id="dob" #memberdob="ngModel" >
        <div [hidden]="memberdob.valid" class="alert alert-danger">
            DOB is required
        </div>
    </div>
    <br>
    <div id="btndiv">
    <button type="submit" class="btn btn-default" [disabled]="!memberForm.form.valid">Save</button>
    <button type="button" class="btn" (click)="next()" [disabled]="!memberForm.form.valid">Next Member</button>
    <button type="button" class="btn" (click)="newMember()">New Member</button>
    </div>
</form>
